/.idea
/test-docker-compose.yml
/planterium_file_server/.idea
/planterium_bot/.idea
/planterium_bot/env
/planterium_bot/packages
/planterium_bot/test.Dockerfile
/planterium_bot/app/bot/tests.py
/planterium_db_api/.idea
/planterium_db_api/env
/planterium_db_api/t
/planterium_db_api/api/tests.py
/planterium_db_api/test.Dockerfile
/planterium_db_api/postgres_data
/planterium_db_api/log
/planterium_db_api/api_variables.env
/planterium_file_server/test.Dockerfile
/planterium_file_server/static/images/*
/planterium_postgres/test.Dockerfile
/planterium_postgres/postgresql_variables.env
/planterium_postgres/.idea